@using Mobicon.Models
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Mobicon</title>
    
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/bootstrap-select.min.css"/>        
        <link rel="stylesheet" href="~/css/site.css"/>   
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js"></script>
        <script src="~/js/bootstrap-select.min.js"></script>
        <script src="~/js/autocomplete.js"></script>
        
        @RenderSection("Scripts", false)
    </head>
    <body>
    
    @if (User.Identity.Name != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between align-items-center">
                <div class="d-flex header-section justify-content-between">
                    <a class="text-secondary" href="https://join.skype.com/j9pyLdpdPKdO"><i class="fab fa-skype"></i> Q&A chat</a>
                    <a class="text-secondary" href="http://jira.playtika.com/secure/CreateIssueDetails!init.jspa?pid=17500&issuetype=3&components=25101"><i class="fas fa-plus-circle"></i> Jira ticket</a>
                </div>
                <div class="d-flex">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-primary @(ViewBag.Title == "Configs" ? "active" : "")" href="/Configs"><i class="fas fa-cogs"></i>Configs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary @(ViewBag.Title == "Snapshots" ? "active" : "")" href="/Snapshots"><i class="fas fa-camera"></i>Snapshots</a>
                        </li>
                        @if (User.IsInRole(UserRole.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary @(ViewBag.Title == "Admin" ? "active" : "")" href="/Admin"><i class="fas fa-toolbox"></i>Admin</a>
                            </li>
                        }
                    </ul>
                </div>
                <form class="d-flex align-items-center header-section justify-content-end" asp-page="Login" asp-page-handler="logout">
                    <button class="btn btn-link text-danger" type="submit"><i class="fas fa-sign-out-alt"></i> Sign Out (@User.Identity.Name)</button>
                </form>
            </nav>
        </header>
        
        <style>
            header {
                box-shadow:0px 0px 12px -4px;
            }
            
            .nav-item {
                font-size: 20px;
            }
    
            .nav-item + .nav-item {
                margin-left: 24px;
            }
            .header-section {
                width: 200px;
            }
            .nav-link.active {
                text-decoration: underline;
            }
            .nav-link i {
                margin-right: 6px;
            }
        </style>
    }
    
    
    <main class="view-content">
        @RenderBody()
    </main>
    
    </body>
</html>