@page
@using Models
@model SnapshotsModel
@{
    ViewData["Title"] = "Snapshots";
}

<script>
    function onAddClick() {
        $('#addEditModal').modal('show');
    }
</script>


<button type="button" class="btn btn-success" onclick="onAddClick()">Add new</button>

@if (Model.LastPublished != null)
{
    <a asp-page="PromoteKeys">Promote keys</a>
}


<ul class="list-group">
    @{
        foreach (var snapshot in Model.Snapshots)
        {
                <li class="list-group-item list-group-item-action @(snapshot.Status == SnapshotStatus.Published ? "active" : string.Empty)">
                    <a href="/Snapshot?id=@snapshot.Id">@snapshot.Name</a>
                    <span>with @snapshot.Entries.Count entries</span>
                    <span>updated by @snapshot.UpdatedBy </span>
                    <span>at @snapshot.UpdatedAt </span>
                </li>
        }
    }
</ul>

<div class="modal " id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalVerticalLabel">Add/Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" class="form-inline">
                <div class="modal-body">

                    <input type="text" name="name" placeholder="Name" />
                    <br />

                    @foreach (var segment in Model.Segments)
                    {
                        <span>@segment.Name</span>
                        <select class="form-control mb-2 mr-sm-2" name="configId">
                            @foreach (var config in segment.Configs)
                            {
                                <option value="@config.Id">@config.Name</option>
                            }
                        </select>
                        <br />
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>