@page
@using Humanizer
@using Models
@model SnapshotsModel
@{
    ViewData["Title"] = "Snapshots";
}

<style>
    .config-picker {
        margin-top: 24px;
        display: flex;
        box-shadow: 0px 0px 6px -3px;
        padding: 24px 24px;
        height: 290px;
        overflow-y: auto;
    }
    .fields-row-item + .fields-row-item {
        margin-left: 24px;
    }
    label.fields-row-item {
        justify-content: flex-end;
    }
    .create-snapshot-modal {
        width: 450px;
    }
    .field-label {
        width: 40%;
    }
    .fields-row {
        justify-content: flex-end;
        align-items: center;
    }
    .fields-row + .fields-row {
        flex-shrink: 0;
        margin-top: 24px;
    }
    h5 {
        text-align: center;
    }
    .list-group-item.published {
        background-color: rgb(240, 248, 255);
    }

    .list-group-item.lastpublished {
        background-color: #C5FCEC;
    }
</style>

<script>
    function onAddClick() {
        $(".config-select").selectpicker();
        $('#addEditModal').modal('show');
    }
    
</script>


<div class="d-flex justify-content-between align-items-center">
    <h2>Snapshots</h2>
    <div class="d-flex controls-section">
        <buton class="btn btn-primary" onclick="onAddClick()"><i class="fas fa-camera"></i> Create snapshot</buton>
    </div>
</div>

@if (Model.Snapshots.Length > 0)
{
    <div class="list-group items-list">
        @{
            foreach (var snapshot in Model.Snapshots.OrderByDescending(x => x.UpdatedAt))
            {
        <a href="/Snapshot?id=@snapshot.Id" class="list-group-item list-group-item-action @(snapshot.Status == SnapshotStatus.Published ? snapshot == Model.LastPublished ? "lastpublished" : "published" : string.Empty)">
            @if (snapshot.Status == SnapshotStatus.Published)
            {
                <i class="text-warning"></i>
            }
            <span class="text-primary">@snapshot.Name</span>

            @if (snapshot.Status == SnapshotStatus.Published)
            {
                <span class="text-dark">published @snapshot.PublishedAt.Value.ToUniversalTime().Humanize() </span>
                <span class="text-dark">approved by <b> @(string.Join(",", snapshot.Approves.Select(a => a.Username))) </b></span>
            }
            else
            {
                <span class="text-dark">updated by <b>@snapshot.UpdatedBy </b> @snapshot.UpdatedAt.ToUniversalTime().Humanize() </span>
            }
        </a>
            }
        }
    </div>
}
else
{
    <div class="empty-data">
        <img src="no_data.png"/>
    </div>  
}



<div class="modal " id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="createSnapshotModal" aria-hidden="true">
    <form method="post" class="form-inline">
        <div class="modal-dialog modal-lg create-snapshot-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSnapshotModalTitle">Create snapshot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input class="form-control w-100" type="text" name="name" required placeholder="Snapshot name" />

                    <div class="flex-column config-picker">
                        @foreach (var segment in Model.Segments)
                        {
                           if (@segment.Configs.Any(c => !c.IsDeleted)) 
                           {
                            <div class="d-flex fields-row">
                                <label class="fields-row-item field-label">@segment.Name</label>
                                <select class="fields-row-item form-control config-select" name="configId" data-size="8" data-width="60%" title="Select config">
                                    @foreach (var config in segment.Configs.Where(c => !c.IsDeleted))
                                    {
                                        <option value="@config.Id">@config.Name</option>
                                    }
                                </select>
                            </div>
                            }
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>

            </div>
        </div>
    </form>
</div>