@page
@using Models
@model SnapshotsModel
@{
    ViewData["Title"] = "Snapshots";
}

<script>
    function onAddClick() {
        $('#addEditModal').modal('show');
    }
</script>


<div class="d-flex justify-content-between align-items-center">
    <h2>Snapshots <span class="badge badge-info">@Model.Snapshots.Length</span></h2>
    <div class="d-flex">
        <buton class="btn btn-primary" onclick="onAddClick()">Create snapshot</buton>
    </div>
</div>


@if (Model.LastPublished != null)
{
    <a asp-page="PromoteKeys">Promote keys</a>
}

@if (Model.Snapshots.Length > 0)
{
    <div class="list-group items-list">
        @{
            foreach (var snapshot in Model.Snapshots)
            {
                <a href="/Snapshot?id=@snapshot.Id" class="list-group-item list-group-item-action">
                    @if (snapshot.Status != SnapshotStatus.Published)
                    {
                        <i class="fas fa-star text-warning"></i>
                    }
                    <span class="text-primary">@snapshot.Name</span>
                    <span class="text-dark">with @snapshot.Entries.Count entries |</span>
                    <span class="text-secondary">updated by @snapshot.UpdatedBy at @snapshot.UpdatedAt</span>
                </a>
            }
        }
    </div>
}
else
{
    <div class="empty-data">
        <img src="no_data.png"/>
    </div>  
}

<div class="modal " id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalVerticalLabel">Add/Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" class="form-inline">
                <div class="modal-body">

                    <input type="text" name="name" placeholder="Name" />
                    <br />

                    @foreach (var segment in Model.Segments)
                    {
                        <span>@segment.Name</span>
                        <select class="form-control mb-2 mr-sm-2" name="configId">
                            @foreach (var config in segment.Configs)
                            {
                                <option value="@config.Id">@config.Name</option>
                            }
                        </select>
                        <br />
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>